<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card lime lighten-5">
        <div class = "container">
           <div class="card-content black-text">   
            <center>
               <!--드롭다운 -->
              <div class="card-content black-text">
                <span class="card-title black-text"><h5>모든 항목을 선택해주세요!</h5></span>
  
               <!--드롭다운 end -->
            </center>
            <br>
            <div style="font-size: 20px; line-height: 200%;">
              <center>
                <%#= form_tag "create",class: "form-inline" do %>
               <form action="/taxiple/create" method="GET">
                  <div class="input-field">
                    <select name="course" size="4" style="width:65px;color:#f98ad3;">
                      <option value="서울대입구역 -> 서울대" disabled selected>서울대입구역 -> 서울대</option>
                      <option value="서울대 -> 서울대입구역">서울대 -> 서울대입구역</option>
                      <option value="서울대입구역 -> 서울대">서울대입구역 -> 서울대</option>
                    </select>
                    <label>Route</label>
                  </div>
                  <br>
                  
                  <div class="input-field">
                    <select class="browser-default" name="user_hour" size="4" style="width:65px;color:#f98ad3;">
                      <option value="<%= @time.hour %>" selected><%= @time.hour %></option>
                      <option value="7">07</option>
                      <option value="8">08</option>
                      <option value="9">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                    </select>
                    <label>Hour</label>
                  </div> 
                  <div class="input-field">
                    <select name="user_minute" class="browser-default" size="4" style="width:65px;color:#f98ad3;">
                      <option value="<%= @minu %>" selected><%= @minu %></option>
                      <option value="00">00</option>
                      <option value="05">05</option>
                      <option value="10">10</option>
                      <option value="15">15</option>
                      <option value="20">20</option>
                      <option value="25">25</option>
                      <option value="30">30</option>
                      <option value="35">35</option>
                      <option value="40">40</option>
                      <option value="45">45</option>
                      <option value="50">50</option>
                      <option value="55">55</option>
                    </select>
                    <label>Minute</label>
                  </div>
                    <br>
                    <div>
                      <input id="girl_only_1" type="radio" name="girl_only" value="girl">
                      <label for="girl_only_1">여성전용</label>
                      <input id="girl_only_2" type="radio" name="girl_only" value="common" checked="checked">
                      <label for="girl_only_2">일반</label>
                    </div>
                  <div class="input-field">
                    <select name="num_member_limit">
                      <option value="3" disabled>3명</option>
                      <option value="2">2명</option>
                      <option value="3">3명</option>
                      <option value="4">4명</option>
                    </select>
                    <label>Member</label>
                  </div>
                    <br><br>
                  <input type="hidden" value=true name="register_to_use">
                  <% @mkroom.where(user_id: current_user.id).each do |mkroom| %>
                  <input type="hidden" value="<%= mkroom.id %>" name="made_room_num">
                  <% end %>
                  <input type="submit" value="방만들기" class="btn btn-warning btn-lg">
                <%# end %>
                </form>
              </center>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>