<% if @user.where(id: current_user).where(register_to_use: false).count == 1 %><!--방을 만들지도 참여한 적도 없는 유저--->
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card lime lighten-5">
          <div class="container">
            <div class="card-content black-text">
              <span class="card-title black-text">방을 만들거나 참여하시지 않으셨군요!</span> 
              <p>상단 좌측의 
              <a class="btn-floating waves-effect waves-light red hoverable content"><i class="material-icons">add</i></a>
              를 클릭해 방을 만들거나 대기중인 방에 참여해주세요!
              </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card lime lighten-5">
        <% if @mkroom.count(user_id: current_user.id) > 0 && @mkroom.where(user_id: current_user.id).count(finish: false) == 1 && @user.where(id: current_user).count(register_to_use: false) == 1%>
    <!-- 
        -방장 화면-
        1.현재 접속중인 사용자가 방을 만든 적이 있을 때(단, MkRoom이 destroy되면 그 줄이 날아가기때문에 나갔던 방을 계산할 필요가 없다.)
        2. 그방이 끝나지도 않았을 때
        3. 현재 접속중인 사용자가 다른 방에 참여하지 않은 상태일때 -->
          <% @mkroom.where(user_id: current_user.id).each do |mkroom| %>
            <div class="container">
              <div class="card-content black-text">
                <span class="card-title black-text"><%= mkroom.id %>. <%= mkroom.course %></span> 
                <p>방번호 : <%= mkroom.id %></p>
                <p>경로 : <%= mkroom.course %></p>
                <p>시간 : <%= mkroom.user_hour%> : <%= mkroom.user_minute%></p>
                <p>인원수 : <%= mkroom.num_of_user_join %> / <%= mkroom.num_member_limit %> </p>
                <div class="card-action">
                  <form action="/taxiple/delete" method="GET">
                    <input type="hidden" name="mk_room_num" value="<%= mkroom.id %>">
                    <button class="btn waves-effect waves-light" type="submit">방 나가기</button>
                  </form>
                </div>
              </div>
            </div>
        <% end %>
      <% else %>
      <!--
      -참가자 화면-
      1. 현재 접속중인 사용자가 참여하기를 눌렀을 경우-->
        <% if !@list.where(person_2: current_user.email).empty? or !@list.where(person_3: current_user.email).empty? or !@list.where(person_4: current_user.email).empty? %> <!----person_2에 참가했을 경우-- -->
          <% @mkroom.where(id: @p).each do |p| %>  
            <div class="container">
              <div class="card-content black-text">
                <span class="card-title black-text"><%= p.id %>. <%= p.course %></span>
                <p>방번호 : <%= p.id %></p>
                <p>경로 : <%= p.course %></p>
                <p>시간 : <%= p.user_hour%> : <%= p.user_minute%></p>
                <p>인원수 : <%= p.num_of_user_join %> / <%= p.num_member_limit %> </p>
                <form action="/taxiple/getout" method="GET">
                  <input type="hidden" name="mk_room_num" value="<%= p.id %>">
                  <button class="btn waves-effect waves-light" type="submit">방 나가기</button>
                </form>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<h3>Real_Time_Chat</h3>

<%  @chat.each do |c| %>
  <% @user.where(id: c.user_id).each do |u| %>
    <p><%= u.email %> : <%= c.user_chat %></p>
  <% end %>
<% end %>
<div id="chat_list"></div>
<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="chat_content" class="materialize-textarea"></textarea>
          <%  @list.each do  |l| %>
            <input type="hidden" id="list_id" id="<%= l.id %>">
          <% end %>
          <label for="icon_prefix2">First Name<a href="#" id="submit_msg">아!!</a></label>
        </div>
      </div>
    </form>
  </div>

<!--<textarea id="chat_content">-->

<!--</textarea>-->
<!--<a href="#" id="submit_msg">아!!</a>-->
<script>
$(document).ready(function() {
    //pusher서버로부터 값을 받는 부분 start
    var pusher = new Pusher('318058814b98a5f6494c', {
      encrypted: true
    });
    var channel = pusher.subscribe('onlyone');
    channel.bind('new_message', function(data) {
      $("#chat_list").append("<p>" + data.email + " : " + data.msg + "<p>");
    });
    //클릭시 ajax로 값을 던지는 코드 start
    $("#submit_msg").click(function() {
        $.ajax({
            data: {
                content: $("#chat_content").val(),
                list_id: $("#list_id").val()
            },
                url: "/taxiple/write_chat",
                success: function() {
                    
                    $("#chat_content").val('');
                    $("#chat_content").focus();
                }
            
        });
    }); 
});
</script>