<div class="container">
  <div class="row">
    <div class="col s12 m6">
      <div class="card lime lighten-5">
        <% if @mkroom.count(user_id: current_user.id) > 0 && @mkroom.where(user_id: current_user.id).count(finish: false) == 1 && @user.where(id: current_user).count(register_to_use: false) == 1%>
    <!-- 
        -방장 화면-
        1.현재 접속중인 사용자가 방을 만든 적이 있을 때(단, MkRoom이 destroy되면 그 줄이 날아가기때문에 나갔던 방을 계산할 필요가 없다.)
        2. 그방이 끝나지도 않았을 때
        3. 현재 접속중인 사용자가 다른 방에 참여하지 않은 상태일때 -->
          <% @mkroom.where(user_id: current_user.id).each do |mkroom| %>
            <div class="container">
              <div class="card-content black-text">
                <span class="card-title black-text"><%= mkroom.id %>. <%= mkroom.course %></span> 
                <p>방번호 : <%= mkroom.id %></p>
                <p>경로 : <%= mkroom.course %></p>
                <p>시간 : <%= mkroom.user_hour%> : <%= mkroom.user_minute%></p>
                <p>인원수 : <%= mkroom.num_of_user_join %> / <%= mkroom.num_member_limit %> </p>
                <div class="card-action">
                  <form action="/taxiple/delete" method="GET">
                    <input type="hidden" name="mk_room_num" value="<%= mkroom.id %>">
                    <button class="btn waves-effect waves-light" type="submit">방 나가기</button>
                  </form>
                </div>
              </div>
            </div>
        <% end %>
      <% else %>
      <!--
      -참가자 화면-
      1. 현재 접속중인 사용자가 참여하기를 눌렀을 경우-->
        <% if !@list.where(person_2: current_user.email).empty? or !@list.where(person_3: current_user.email).empty? or !@list.where(person_4: current_user.email).empty? %> <!----person_2에 참가했을 경우-- -->
          <% @mkroom.where(id: @p).each do |p| %>  
            <div class="container">
              <div class="card-content black-text">
                <span class="card-title black-text"><%= p.id %>. <%= p.course %></span>
                <p>방번호 : <%= p.id %></p>
                <p>경로 : <%= p.course %></p>
                <p>시간 : <%= p.user_hour%> : <%= p.user_minute%></p>
                <p>인원수 : <%= p.num_of_user_join %> / <%= p.num_member_limit %> </p>
                <form action="/taxiple/getout" method="GET">
                  <input type="hidden" name="mk_room_num" value="<%= p.id %>">
                  <button class="btn waves-effect waves-light" type="submit">방 나가기</button>
                </form>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  </center>
</div>