
<!--급구 순서대로 정렬--->

<% if @mkroom.count(user_id: current_user.id) > 0 && @mkroom.where(user_id: current_user.id).count(finish: false) == 1 && @user.where(id: current_user).count(register_to_use: false) == 1%>
<!-- asndaskdl
-방장 화면-
1.현재 접속중인 사용자가 방을 만든 적이 있을 때(단, MkRoom이 destroy되면 그 줄이 날아가기때문에 나갔던 방을 계산할 필요가 없다.)
2. 그방이 끝나지도 않았을 때
3. 현재 접속중인 사용자가 다른 방에 참여하지 않은 상태일때 -->
  <% @mkroom.where(user_id: current_user.id).each do |mkroom| %>
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card lime lighten-5">
            <div class="container">
              <div class="card-content black-text">
                <span class="card-title black-text"><%= mkroom.id %>. <%= mkroom.course %></span> 
                <p>방번호 : <%= mkroom.id %></p>
                <p>경로 : <%= mkroom.course %></p>
                <p>시간 : <%= mkroom.user_hour%> : <%= mkroom.user_minute%></p>
                <p>인원수 : <%= mkroom.num_of_user_join %> / <%= mkroom.num_member_limit %> </p>
                <div class="card-action">
                  <form action="/taxiple/delete" method="GET">
                    <input type="hidden" name="mk_room_num" value="<%= mkroom.id %>">
                    <button class="btn waves-effect waves-light" type="submit">방 나가기</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
      <!--
      -참가자 화면-
      1. 현재 접속중인 사용자가 참여하기를 눌렀을 경우-->
<%# elsif !@list.where(person_2: current_user.email).empty? and @list.where(person_3: current_user.email).empty? and @list.where(person_4: current_user.email).empty? %>

<% else %> <!----person_2 or 3 or 4에 참가했을 경우-- -->
  <% @mkroom.where(id: @p).each do |p| %>  
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <div class="card lime lighten-5">
            <div class="container">
              <div class="card-content black-text">
                <span class="card-title black-text"><%= p.id %>. <%= p.course %></span>
                <p>방번호 : <%= p.id %></p>
                <p>경로 : <%= p.course %></p>
                <p>시간 : <%= p.user_hour%> : <%= p.user_minute%></p>
                <p>인원수 : <%= p.num_of_user_join %> / <%= p.num_member_limit %> </p>
                <form action="/taxiple/getout" method="GET">
                  <input type="hidden" name="mk_room_num" value="<%= p.id %>">
                  <button class="btn waves-effect waves-light" type="submit">방 나가기</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
<% @mkroom.order("num_member_limit - num_of_user_join").each do |mkroom| %><!-- 방인원이 거의 다찰 것 같은 방부터 정렬  -->
<%# @mkroom.each do |x| %> <!--대기중인 방에대한 정보를 뿌리기 위한 루비문법-->
  <%# x.order("num_member_limit - num_of_user_join").each do |mkroom| %>
  <%# if (mkroom.num_member_limit.to_i - mkroom.num_of_user_join.to_i).abs > 0 %>
  <div class = "container">
    <div class="card lime lighten-5"> 
      <div class = "row">
        <div class = "col-md-12">
          <div class = "panel panel-default room" style="margin: 20px 10px;">
            <div class = "panel-heading"><%= mkroom.id %>. <%= mkroom.course%> 
              <% if mkroom.girl_only == "girl"%><i class="fa fa-female" style = "color: red;"></i><%end%>
            </div>
            <div class = "panel-body" align = "left">
              <div class = "logo">
                <img src = "http://www.snu.ac.kr/images/common/img/img01_mark_ab0102.gif" width = "40px">
              </div>
              <table>
                <tr>
                  <% @user.where(id: mkroom.user_id).each do |x| %>
                    <td class = "name">개설자 : <%= x.email %></td>
                  <% end %>
                </tr>
                <tr>
                  <% @list.where(mk_room_id: mkroom.id).each do |list| %>
                    <td class = "name">참여자 : <%= list.person_2 %>, <%= list.person_3 %>, <%= list.person_4 %></td>
                  <% end %>
                </tr>
                <tr>
                  <td class = "time">시간&nbsp;&nbsp;&nbsp;
                    <%= mkroom.user_hour%> : <%= mkroom.user_minute%>까지</td>
                </tr>
                <tr>
                  <td class = "member_num">현재인원 / 모집인원<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <%= mkroom.num_of_user_join %> / <%= mkroom.num_member_limit %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p><%= @now_user.inspect %></p>
                    <p>   -> 현재 접속중인 유저에 대한 정보</p>
                    <br>
                    <p>이 방의 정보 : <%#= @room_info.inspect %></p>
                    <p>   -> 현재 접속중인 유저가 만든 방정보에 대한( 최근에 만든) 정보</p>
                    <br>
                    <p><%= @now_list.inspect %></p>
                    <p>-> 현재 접속중인 유저가 어느 방에 속해있는지(list)</p>
                    <h3><%= @mkroom.where(user_id: current_user.id).inspect %></h3>
                    <%#= @user.where(id: current_user).count(register_to_use: false) %>
                  </td>
                </tr>
              </table>
              <center>
                <%# unless @mkroom.count(user_id: current_user.id) > 0 && @mkroom.where(user_id: current_user.id).count(finish: false) == 0 %> 
                  <% if mkroom.num_of_user_join >= mkroom.num_member_limit %>
                    <button type="button" class="btn btn-danger btn-lg">만석</button>
                  <% else %>
                    <form action="/taxiple/join" method="GET">
                      <input type="hidden" name="person_1" value="<%= current_user.email %>"><!--개설자의 이메일 알기위해-->
                      <!--<input type="hidden" name="list_num" value="<%#= mkroom.id %>"><!--참여자들의 이메일 알기위해(List와 MkRoom의 ID는 같다 -->
                      <input type="hidden" name="room_num" value="<%= mkroom.id %>"><!--어디방의 인원수를 조정할지 방의 위치(숫자)를 확인 -->
                      <input type="hidden" name="user_name" value="<%= current_user.email %>"><!--누가 탔는지는 고객관리 측면에서 필요하니까 따로 저장! -->
                        <% @user.where(id: current_user.id).each do |user| %>
                          <% if user.register_to_use == false %>
                          <input type="submit" value="참여하기" id="<%= mkroom.finish %>">
                          <% else %>
                          <h2> 현재 내가 속한 방 </h2>
                          <% end %>
                        <% end %> 
                    </form>
                  <% end %>
                <%# else %>
                  <!--현재 접속중인 사용자가 방을 만든 적이 있고 && 그 방이 아직 안끝났을 때-->
                <%# end %>
              </center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%# end %>
<% end %>





 <!--드롭다운 자바스크립트 부분 -->
<script>
//close dropdowns on outside click
$(document).ready(function() {
    $("#true").click(
      function() {
        alert("참여하시기 바로 전에 방이 다 찼습니다. 다른 방을 이용해주세요.");
      }
      );
  });



// $(window).click(function(e) {
//   var $dropdown = $(e.target).closest(".dropdown");
//   if ($dropdown.length == 0 || !$dropdown.find("input").is(":checked")) {
//     $(".dropdown input:checked").prop("checked", false);
//   }
// });

// //close other dropdown on outside click
// $(".dropdown input").change(function(e) {
//   if ($(e.target).is(":checked")) {
//     $(".dropdown input:checked:not(#" + e.target.id + ")").prop("checked", false);
//   }
// });

// //on item select
// $(".dropdown li").click(function(e) {
//   var $target = $(e.target);
//   var $dropdown = $target.closest(".dropdown");
//   var $label = $dropdown.find("label");
//   var $title = $label.find("span");
//   var $toggle = $dropdown.find("input");

//   if ($dropdown.hasClass("init") || ($toggle.is(":checked") && !$target.hasClass("selected"))) {
//     $dropdown.removeClass("init");
//     $dropdown.find("li.selected").removeClass("selected");
//     $target.addClass("selected");
//     $dropdown.attr("data-val", ($target.attr("data-val") || $target.attr("data-val") == "") ? $target.attr("data-val") : $target.text().trim());
//     $title.text($target.attr("data-text") ? $target.attr("data-text") : $target.text().trim());
//     $label.css("width", ($title.width() + 20) + "px");
//     $toggle.prop("checked", false);
//   }
// });

// //initialize with 1st option
// $(".dropdown.init li:first-child").click();

</script>

 <!--드롭다운 자바스크립트 부분 end -->
